<!--products-details.vtl-->
<h1>Product Details</h1>
<h3>Name: $product.getName()</h3>
<h3>Price: $product.getPrice()</h3>
<br>
<a href="/products/$product.getId()/update">Update</a> | <a href="/products/$product.getId()/delete">Delete</a><br>
<!--products-details.vtl-->
