<!--products-new.vtl-->
<h1>New Product</h1>

<form action="/products" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text"><br>
  <label for="price">Price</label>
  <input id="price" name="price" type="text"><br>


  <button type="submit" class="btn btn-success">Add Product</button>
</form>
<!--products-new.vtl-->
